/*
.declaration-order {
    !*Позиционирование*!
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    !*Блочная модель*!
    display: block;
    float: right;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;

    !*Типографика*!
    font-style: italic;
    font-size: 13px;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #dbff5b;

    !*Оформление*!
    background-color: #fff;
    border: 1px solid #dbff5b;
    border-radius: 3px;
    opacity: 1;

    !*Анимация*!
    transition: color 500ms;

    !*Разное*!
    will-change: auto;
}*/

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../img/background-pic.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.inner-container {
    color: black;

    background-color: #f8f5f2;
    background-image: url("../img/background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.btn {
    font: inherit;

    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: black;
    border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #663d15;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: white;

    background-color: #000000;
}

.site-navigation,
.user-navigation {
    margin: 0;
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: white;
}

.site-navigation {
display: inline;
    width: 620px;
}

.user-navigation {

    width: 140px;
}

.main-header-logo {
    order: 1;

    background-color: transparent;

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.advantages-list {
    list-style: none;
}

.advantage-item {
    text-align: center;
}

.advantage-item-title {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    color: black;

    background-color: #f8f5f2;
    background-image: url("../img/background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #dddddd;
    border: 7px solid #ffffff;
}

.appointment-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid black;
}

.appointment-item input:focus {
    background-color: #663d15;
}

.main-footer {
    color: white;

    background-color: #212121;
    background-image: url("../img/background-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
    color: white;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: white;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .btn:hover,
.footer-copyright .btn:focus {
    color: black;

    background-color: #fff;
}

.modal {
    color: black;

    background-color: #f8f5f2;
    background-image: url("../img/background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: black;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid black;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

/*Карточка товара*/

.product-photo-prev {
    list-style: none;
}

.product-photo-prev li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
}

.product-photo-full {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
}

























