body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../img/background-pic.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.invisible {
    display: none;
}

.btn {
    display: inline-block;
    padding: 13px 34px;

    line-height: normal;

    color: white;

    background-color: black;

    transition: background-color 300ms linear;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #663d15;
}

.gallery-btn,
.submit-btn {

    width: 140px;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;

    border: none;
}

.submit-btn {
    margin-top: 10px;

    width: 100%;
}

/*modals are hidden*/
.modal {
    display: none;
}


/*Navigation*/

.main-header {
    margin-bottom: 75px;
}

.navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;

    position: relative;

    margin-bottom: 60px;

    font-size: 16px;

    background-color: black;
}

.site-navigation {
    width: 700px;

    margin: 0;
    padding-left: 0;
}

.site-navigation li {
    padding: 0 40px 0 0;
}

.user-navigation {
    position: relative;
    width: 240px;

    margin: 0;
    padding-left: 0;

    text-align: right;
}

.site-navigation li,
.user-navigation li {
    display: inline-block;
}

.user-nav-link::before {
    content: "";

    position: absolute;
    top: 4px;
    right: 45px;

    width: 16px;
    height: 18px;

    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: .3;

    transition: opacity 500ms linear;
}

.user-nav-link:hover::before,
.user-nav-link:focus:before,
.user-nav-link:active::before {
    opacity: 1;
}

.header-logo {
    display: block;
    margin: 0 auto;
}

/*Main*/

.container {
    margin: 0 auto;
    padding: 0 10px;

    width: 960px;

    /*background-color: #969696;*/
}

.advantages {
    margin-bottom: 75px;
}

.advantages-list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.advantage-item {
    padding: 0 15px;
    width: 33%;

    text-align: center;

    list-style: none;
}

.advantage-item-title {
    margin-top: 0;
    margin-bottom: 65px;

    position: relative;

    font-size: 30px;
}

.advantage-item-title::after {
    content: "";

    position: absolute;
    bottom: -40px;
    left: 50%;

    margin-left: -10px;

    width: 20px;
    height: 20px;

    background-color: #fff;

    transform: rotate(45deg);
}

.advantage-item p {
    margin-bottom: 0;
}

.container-inner {
    display: flex;
    justify-content: center;


    margin-bottom: 36px;

    color: black;

    background-image: url("../img/background.jpg");
    background-repeat: repeat;
}

.container-inner h2 {
    margin-top: 0;
    margin-bottom: 35px;
}

.line-separator {
    align-self: center;
}

.news {
    padding: 55px 35px 55px 80px;
    width: 50%;

}

.news-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.news-item {
    margin-bottom: 35px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: lowercase;
}

.gallery {

    padding: 55px 80px 55px 80px;
    width: 50%;

    align-items: center;
}

.gallery-content {

    width: 300px;
    height: 178px;
    margin: 0;

    border: 7px solid #ffffff;
}

.gallery-content img {
}

.gallery-btn-back {
    margin-top: 60px;
    margin-right: 15px;
}

.contacts {
    padding: 55px 35px 55px 80px;
    width: 50%;
}

.contacts p {
    margin-top: 0;
    margin-bottom: 35px;
}

.btn-contacts {
    margin-right: 15px;
}

.form-row-container {
    display: flex;
    justify-content: space-between;
}

.appointment {
    padding: 55px 80px 55px 80px;
    width: 50%;
}

.appointment-item {
    margin: 0 0 16px 0;
}


.appointment-item input {
    display: block;
    width: 140px;

    padding: 13px;

    border: 2px solid black;
}

.appointment-item label {
    position: relative;
    left: 13px;
}

.footer-inner {
    margin-top: 65px;
    height: 193px;

    color: white;

    background-image: url("../img/background-dark.jpg");
    background-repeat: repeat;
}

.footer-inner-container {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    width: 940px;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    margin-top: 60px;
    width: 33%;
}

.footer-contacts a {
    text-decoration: underline;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    display: flex;
    justify-content: center;

    margin: 18px auto;
    padding: 0;

    list-style: none;
}

.footer-social li {
    display: inline-block;

    width: 43px;
    height: 43px;
    margin: 0 3px;

    text-align: center;

    background-color: black;
}

.footer-social li:hover,
.footer-social li:focus,
.footer-social li:active {
    background-color: #fff;
}


.footer-copyright {
    text-align: right;
}

.footer-copyright b {
    position: relative;
    right: 30px;
}

.btn-copyright {
    display: inline-block;
    margin-top: 18px;
    padding: 13px 28px;
    width: 140px;

    text-align: center;
}

.btn-copyright:hover,
.btn-copyright:focus,
.btn-copyright:active {
    color: black;

    background-color: #fff;
}

.modal {
    position: fixed;

    color: black;

    background-color: #f8f3f0;
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-position: 0 0;

    box-shadow: 0 20px 35px rgba(0, 0, 0, .3);
}

.modal-login {
    top: 120px;
    left: 50%;

    margin-left: -230px;

    width: 460px;
    padding: 50px 80px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;

    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 19px;
    height: 4px;

    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-login h2 {
    margin: 0 0 25px 0;
}

.modal-description {
    margin: 0 0 10px 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    box-sizing: border-box;
    width: 300px;

    padding: 10px 40px 10px 15px;

    font: inherit;
    color: black;

    text-transform: uppercase;

    background-color: #f8f5f2;
    border: 2px solid black;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-icon-user {
    background-image: url("../img/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url("../img/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-password-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 15px 0;
}

.restore {
    color: black;
    text-decoration: underline;
}

.restore:hover,
.restore:focus,
.restore:active {
    text-decoration: none;
}

.btn-modal {
    display: block;
    width: 300px;

    font-weight: 700;
    text-transform: uppercase;

    border: none;
}

.login-checkbox {
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 3px;
    left: 0;

    width: 18px;
    height: 18px;

    border: 2px solid black;
}

.login-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;

}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 2px;

    width: 10px;
    height: 2px;

    background-color: black;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.modal-map {
    top: 50%;
    left: 50%;

    width: 780px;
    height: 574px;

    margin-top: -287px;
    margin-left: -390px;

    border: 7px solid white;
}

.modal-map p {
    margin: 0;
}

























