body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../img/background-pic.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.invisible {
    display: none;
}

.btn {
    display: inline-block;
    padding: 13px 34px;

    line-height: normal;

    color: white;

    background-color: black;

    transition: background-color 300ms linear;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #663d15;
}

.gallery-btn,
.submit-btn {

    width: 140px;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
    text-transform: uppercase;

    border: none;
}

.submit-btn {
    margin-top: 10px;

    width: 100%;
}


/*Navigation*/

.main-header {
    margin-bottom: 75px;
}

.navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;

    margin-bottom: 60px;

    font-size: 16px;

    background-color: black;
}

.site-navigation {
    width: 700px;

    margin: 0;
    padding-left: 0;
}

.site-navigation li {
    padding: 0 40px 0 0;
}

.user-navigation {
    width: 240px;

    margin: 0;
    padding-left: 0;

    text-align: right;
}

.site-navigation li,
.user-navigation li {
    display: inline-block;
}

.header-logo {
    display: block;
    margin: 0 auto;
}

/*Main*/

.container {
    margin: 0 auto;
    padding: 0 10px;

    width: 960px;

    /*background-color: #969696;*/
}

.advantages {
    margin-bottom: 75px;
}

.advantages-list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.advantage-item {
    padding: 0 15px;
    width: 33%;

    text-align: center;

    list-style: none;
}

.advantage-item-title {
    margin-top: 0;

    font-size: 30px;
}

.advantage-item p {
    margin-bottom: 0;
}

.container-inner {
    display: flex;
    justify-content: center;


    margin-bottom: 36px;

    color: black;

    background-image: url("../img/background.jpg");
    background-repeat: repeat;
}

.container-inner h2 {
    margin-top: 0;
    margin-bottom: 35px;
}

.line-separator {
    align-self: center;
}

.news {
    padding: 55px 35px 55px 80px;
    width: 50%;

}

.news-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.news-item {
    margin-bottom: 35px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: lowercase;
}

.gallery {

    padding: 55px 80px 55px 80px;
    width: 50%;

    align-items: center;
}

.gallery-content {

    width: 300px;
    height: 178px;
    margin: 0;

    border: 7px solid #ffffff;
}

.gallery-content img {
}

.gallery-btn-back {
    margin-top: 60px;
    margin-right: 15px;
}

.contacts {
    padding: 55px 35px 55px 80px;
    width: 50%;
}

.contacts p {
    margin-top: 0;
    margin-bottom: 35px;
}

.btn-contacts {
    margin-right: 15px;
}

.form-row-container {
    display: flex;
    justify-content: space-between;
}

.appointment {
    padding: 55px 80px 55px 80px;
    width: 50%;
}

.appointment-item {
    margin: 0 0 16px 0;
}


.appointment-item input {
    display: block;
    width: 140px;

    padding: 13px;

    border: 2px solid black;
}

.appointment-item label {
    position: relative;
    left: 13px;
}

.footer-inner {
    margin-top: 65px;
    height: 193px;

    color: white;

    background-image: url("../img/background-dark.jpg");
    background-repeat: repeat;
}

.footer-inner-container {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    width: 940px;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    margin-top: 60px;
    width: 33%;
}

.footer-contacts a {
    text-decoration: underline;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    display: flex;
    justify-content: center;

    margin: 18px auto;
    padding: 0;

    list-style: none;
}

.footer-social li {
    display: inline-block;

    width: 43px;
    height: 43px;
    margin: 0 3px;

    text-align: center;

    background-color: black;
}

.footer-social li:hover,
.footer-social li:focus,
.footer-social li:active {
    background-color: #fff;
}


.footer-copyright {
    text-align: right;
}

.footer-copyright b {
    position: relative;
   right: 30px;
}

.btn-copyright {
    display: inline-block;
    margin-top: 18px;
    padding: 13px 28px;
    width: 140px;

    text-align: center;
}

.btn-copyright:hover,
.btn-copyright:focus,
.btn-copyright:active {
    color: black;

    background-color: #fff;
}

























