body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../img/background-pic.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2{
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.invisible {
    display: none;
}

.btn{
    display: inline-block;
    padding: 17px 34px;

    color: white;

    background-color: black;
}


/*Navigation*/

.main-header {
    margin-bottom: 75px;
}

.navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;

    margin-bottom: 60px;

    font-size: 16px;

    background-color: black;
}

.site-navigation {
    width: 700px;

    margin: 0;
    padding-left: 0;
}

.site-navigation li {
    padding: 0 40px 0 0;
}

.user-navigation {
    width: 240px;

    margin: 0;
    padding-left: 0;

    text-align: right;
}

.site-navigation li,
.user-navigation li {
    display: inline-block;
}

.header-logo {
    display: block;
    margin: 0 auto;
}

/*Main*/

.container {
    margin: 0 auto;
    padding: 0 10px;

    width: 960px;

    /*background-color: #969696;*/
}

.advantages {
    margin-bottom: 75px;
}

.advantages-list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.advantage-item {
    padding: 0 15px;
    width: 33%;

    text-align: center;

    list-style: none;
}

.advantage-item-title {
    margin-top: 0;

    font-size: 30px;
}

.advantage-item p {
    margin-bottom: 0;
}

.container-inner {
    display: flex;
    justify-content: center;

    color: black;

    background-image: url("../img/background.jpg");
    background-repeat: repeat;
}

.container-inner h2 {
    margin-top: 0;
    margin-bottom: 35px;
}

.news {
    padding: 55px 35px 55px 80px;
    width: 50%;

}

.news-list{
    margin: 0;
    padding: 0;

    list-style: none;
}

.news-item{
    margin-bottom: 35px;
}

.news-item p{
    margin: 0;
}

.news-item time{
    text-transform: lowercase;
}

.gallery {
    width: 50%;
}





























